<head>
  <style type="text/css">
    body {
      background: gray;
      font-family: Arial, Helvetica, sans-serif;
    }
    .header{
        height: 200px;
        background: black;
        color: greenyellow;
    }
    .title {
      color: greenyellow;
      font-size: 5em;
    }
    .sub-title {
      color: greenyellow;
      font-size: 1.3em;
    }
  </style>
</head>
<body>
  <div class="header">
    <h1 class="title">Displaying activity for id: 1</h1>
    <p class="sub-title">Topic: {{topic}} Date: {{dy}} Start time: {{start_at}} End time: {{end_at}}
    </p>
  </div>
</body>